@model IEnumerable<Movie.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>List of Customers</h3>

@Html.ActionLink("Create New Customer","New","Customers", null, new { @class= "btn btn-primary", @role = "button", @style="margin-bottom:20px"})


@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Discount Rate</th>
                <th>Membership Type</th>
                <th>BirthDate</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
                    <td>@customer.MembershipType.DiscountRate%</td>
                    <td>@customer.MembershipType.Name</td>
                    @if (customer.BirthDate != null && customer.BirthDate.Value.Year != 9999)
                    {
                        <td>@customer.BirthDate.Value.ToShortDateString()</td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
